.text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 0 !important;
}
.add-btn {
    border-radius: 2px;
    background-color: #53c0de;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

input[type=file] {
    float: right;
    cursor: pointer;
    height: 34px;
    overflow: hidden;
  }
  
  input[type=file]:before {
    width: 117px;
    height: 32px;
    margin-left: 72px;
    font-size: 16px;
    line-height: 32px;
    content: 'Browser';
    display: inline-block;
    background: white;
    border: 1px solid #53c0de;
    padding: 0 10px;
    text-align: center;
    color: #53c0de;
  }
  
  input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
  }
  .upload-drop-zone {
      border: 1px dashed ligthgrey !important;
  }
.document-cntr div {
    text-align: center;
    margin-top: 150px;
}
.document-cntr img {
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-bottom: 10px;
}
.right-sidebar {
    padding: 15px;
    background-color: #e5f5f9;
}
.right-sidebar span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.inputfiled {
    margin-top: 10px;
    margin-bottom: 10px;
}
.upload-zone {
    border: 3px dashed lightgrey;
    margin: 10px 0px 20px 0px;
}
.progress {
    height: 6px !important;
    margin-bottom: 0 !important;
}
.save-btn {
    border-radius: 2px;
    background-color: #53c0de;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-right: 7px;
}
.cancel-btn {
    border-radius: 2px;
    border-color: #53c0de;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #53c0de;
    background: #ffffff;
}
.footer {
    bottom: 90px;
    left: 0;
    position: absolute;
    text-align: left;
    margin-left: 20px;
}
.backdrop{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
