<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 document-cntr">
      <div>
        <img src="../../../../assets/images/documnet.png" class="img-responsive" />
        <p class="text">Seems like you did not create any jobs yet. Click here to create a new job.</p><br>
        <button type="button" class="btn add-btn" (click)="w3_open()">Add JD & Find Candidates</button>
      </div>
    </div>
  </div>
</div>

<div class="backdrop " [ngStyle]="{'display':display}"></div>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style=" width: 30%;right:0;top: 70px;z-index: 1;overflow-y: hidden;
transition: 0.5s;"
  [ngStyle]="{'display':display}" *ngIf="showProfile">
  <div class="container-fluid">
    <div class="row right-sidebar">
      <div class="col-md-10 col-lg-10 col-sm-10">
        <span>Add JD & Find Candidates</span>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" (click)="w3_close()" />
      </div>
    </div>
    <div class="row inputfiled">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Enter job title" [(ngModel)]="job.job_title">
      </div>
    </div>
    <div class="row inputfiled">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Enter requesting business unit name" [(ngModel)]="job.job_unit_name">
      </div>
    </div>
    <div class="row upload-zone">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <div class="col-md-12" style="padding: 18px 24px 11px 22px;">
          <span>Drag and drop the files here</span>
        </div>
        <div class="col-0 span">
          <span>(or)</span>
        </div>
        <div class="col-md-12" style="padding: 18px 24px 11px 22px;">
          <input type="file" [(ngModel)]="job.file"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 microsoft-icon">
        <img src="../../../../assets/images/microsoft-icon.png" class="img-responsive">
      </div>
      <div class="col-md-8">
          <small>bigdata engineer docs</small>
          <div class="progress">
            <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            </span>
          </div>
          <small>38kb</small>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="../../../../assets/images/file.png">
      </div>
      <div class="col-md-8">
        <small>bigdata engineer docs</small>
        <div class="progress">
          <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          </span>
        </div>
        <small>38kb</small>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" />
      </div>
    </div>
    <div class="row footer">
      <div class="col-md-12 col-lg-12 col-sm-12 text-left">
          <button type="button" class="btn save-btn" (click)="joblist()">Save & Find Candidates</button>
          <button type="button" class="btn cancel-btn" (click)="w3_close()">Cancel</button>
      </div>
    </div>
  </div>

</div>
