<div class="container-fluid">
  <div class="row first-title">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <ul>
        <li>Job list
          <i class="fa fa-angle-right right-arrow"></i>
        </li>
        <li>Candidates list</li>
      </ul>
    </div>

  </div>
  <div class="container-fluid main-hero">
    <div class="row first-row" style="border-bottom: 1px solid lightgrey;">
      <div class="col-md-2 col-sm-2 col-lg-2">
        <h3>Candidates list</h3>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-5 col-lg-5 col-sm-5 text-center">
            <span class="titles">Top N resumes</span>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-7">
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-3 col-lg-3 col-sm-3">
            <span class="titles">Relevancy</span>
          </div>
          <div class="col-md-9 col-lg-9 col-sm-9">
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: 30%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="search-field">
          <input type="text" class="form-control secrh-cntr" placeholder="Search by Keywords">
          <button type="button" class="btn addbtn" (click)="w3_open()">Explore Internal Database</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row skill-maincntr">
                <div class="col-md-3 col-lg-3 col-sm-3 card-cntr">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h6>Job title</h6>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Big data engineer
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                            <a href="#">Action</a>
                          </li>
                          <li>
                            <a href="#">Another action</a>
                          </li>
                          <li>
                            <a href="#">Something else here</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h6>Skills</h6>
                      <span>hadoop, Scala, hive, Spark</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h6>Education</h6>
                      <span>M.C.A, B.Tech, M.Tech</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h6>Experience</h6>
                      <span>5 Years</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h6>Filter by</h6>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Location
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                            <a href="#">Action</a>
                          </li>
                          <li>
                            <a href="#">Another action</a>
                          </li>
                          <li>
                            <a href="#">Something else here</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Experience
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                            <a href="#">Action</a>
                          </li>
                          <li>
                            <a href="#">Another action</a>
                          </li>
                          <li>
                            <a href="#">Something else here</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Skills
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                            <a href="#">Action</a>
                          </li>
                          <li>
                            <a href="#">Another action</a>
                          </li>
                          <li>
                            <a href="#">Something else here</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Education
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                            <a href="#">Action</a>
                          </li>
                          <li>
                            <a href="#">Another action</a>
                          </li>
                          <li>
                            <a href="#">Something else here</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <a href="#">Separated link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 card-cntr1">
                  <div class="row">
                    <table class="table table-striped table-bordered main-table">
                      <thead>
                        <tr>
                          <th>Rank</th>
                          <th>Candidate</th>
                          <th>Experience</th>
                          <th>Overall</th>
                          <th>Skills</th>
                          <th>Education</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of candidateData">
                          <td class="text-center">1</td>
                          <td>
                            <div class="row">
                              <div class="col-md-2 col-lg-2 col-sm-2">
                                <img src="../../../../assets/images/heroin1.png">
                              </div>
                              <div class="col-md-10 col-lg-10 col-sm-10">
                                <p>{{item["_source"].personal_details.name}}</p>
                                <span>Ireland</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="row">
                              <div class="col-md-12 col-lg-12 col-sm-12">
                                <p>8 years</p>
                                <span>Immediate joining</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="row">
                              <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                  [style.width]="item['overall_score']">
                                    <span class="sr-only">{{item['overall_score']}}</span>
                                  </div>
                                </div>
                                <span>{{item['overall_score']}} </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="row">
                              <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                  [style.width]="item['skills_score']">
                                    <span class="sr-only">{{item['skills_score']}}</span>
                                  </div>
                                </div>
                                <span>{{item['skills_score']}}</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="row">
                              <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                  [style.width]="item['qualifications_score']">
                                    <span class="sr-only">{{item['qualifications_score']}}</span>
                                  </div>
                                </div>
                                <span>{{item['qualifications_score']}}</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
