.skill-cntr {
    border: 1px solid lightgrey;
    margin: 0px 30px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    height: 50px;
}

.skills-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.skill-maincntr {
    display: flex;
}
.skill-maincntr .caret {
    float: right;
}
.skill-maincntr button {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.skill-maincntr h6 {
    font-weight: 600;
    font-size: 14px;
}
.first-title {
    padding: 14px 30px;
}
.first-title ul {
    padding-left: 0;
    list-style-type: none;
    display: inline-flex;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.first-title li {
    cursor: pointer;
}
.right-arrow {
    padding-left: 5px;
    padding-right: 5px;
}
.main-hero {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #f8f8f8;
}
.joblist-title h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.titles {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.progress {
    height: 15px !important;
    margin-bottom: 0 !important;
    border-radius: 0;
}
.search-field {
    margin-top: 10px;
    float: right;
    display: inline-flex;
    margin-right: 10px;
}
.secrh-cntr {
    border-radius: 0;
    background: url('../../../../assets/images/search-icon2.png') right 10px top 7px no-repeat;
    opacity: 0.6;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
}
.addbtn {
    border-radius: 2px;
    background-color: #53c0de;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    width: 200px;
    margin-left: 10px;
}
.card-cntr {
    background: #ffffff;
    margin-top: 20px;
}
.card-cntr1 {
    margin-top: 20px;
    margin-left: 10px;
}
.main-table thead {
    background-color: #e5f5f9;
}
.main-table thead th {
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}
.table-bordered {
    background: #ffffff;
}
.main-table p {
    margin-bottom: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.main-table span {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}
