<div class="container-fluid">
  <div class="row lists">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <ul>
        <li (click)="createJob()"><a href="#news">Jobs list <i class="fa fa-angle-right"></i></a></li>
        <li><a href="#contact" (click)="CandidateList()">Candidates list <i class="fa fa-angle-right"></i></a></li>
        <li><a href="#contact">Internal database <i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row skill-cntr">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <label class="skills-title">Skills inventory</label>
    </div>
  </div>
  <div class="row skill-maincntr">
    <div class="col-md-2 col-lg-2 col-sm-2 card-cntr">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h6>Job title</h6>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Big data engineer
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h6>Skills</h6>
          <span>hadoop, Scala, hive, Spark</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h6>Education</h6>
          <span>M.C.A, B.Tech, M.Tech</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h6>Experience</h6>
          <span>5 Years</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h6>Filter by</h6>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Location
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Experience
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Skills
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Education
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 card-cntr">
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-lg-4 col-sm-4 text-center">
          <div class="card">
           <div>
             <h3 class="card-title">687</h3>
             <span class="card-sub-title">Total Resumes</span>
           </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 text-center">
          <div class="card1">
              <div>
                  <h3 class="card-title">97</h3>
                  <span class="card-sub-title">Total Resumes</span>
                </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 text-center">
          <div class="card2">
              <div>
                  <h3 class="card-title">7.4</h3>
                  <span class="card-sub-title">Total Resumes</span>
                </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-lg-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Top skills</div>
            <div class="panel-body">
              <table class="table table-responsive">
                <tbody>
                  <tr *ngFor="let skill of skills;let i=index">
                    <td class="progress-title">{{skill["name"]}}</td>
                    <td class="progress-barr">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                          aria-valuemax="100" [style.width]="skill['progress']">

                          <span class="sr-only">{{skill['progress']}} Complete</span>
                        </div>
                      </div>
                    </td>
                    <td><span>{{skill['progress']}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Education</div>
            <div class="panel-body">

            </div>

          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-lg-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Experience</div>
            <div class="panel-body">
              <table class="table table-responsive">
                <tbody>
                  <tr *ngFor="let exp of experience;let i=index">
                    <td class="progress-title">{{exp["exp_in_years"]}} Years</td>
                    <td class="progress-barr">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                          aria-valuemax="100" [style.width]="exp['progress']">

                          <span class="sr-only">{{exp['progress']}} Complete</span>
                        </div>
                      </div>
                    </td>
                    <td><span>{{exp['progress']}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Location</div>
            <div class="panel-body">
              <p>...</p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>