.lists ul{
    padding-left: 30px !important;
    list-style-type: none;
    display: inline-flex;
}
.lists a{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding: 10px 5px;
}
.skill-cntr {
    border: 1px solid lightgrey;
    margin: 0px 30px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    height: 50px;
}
.skills-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.skill-maincntr {
    display: flex;
 margin: 0px 30px;
}
.skill-maincntr .caret {
    float: right;
}
.skill-maincntr button {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.skill-maincntr h6 {
    font-weight: 600;
    font-size: 14px;
}
.card {
    height: 25vh;
    width: 100%;
    border-top: 6px solid #ffa52d;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #fff1df;
}
.card1 {
    height: 25vh;
    width: 100%;
    border-top: 6px solid #7eb546;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #f3ffe7;
}
.card2 {
    height: 25vh;
    width: 100%;
    border-top: 6px solid #fcdc43;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #fff9dc;
}
.progress-title{
    width: 37%
}
.progress-barr{
    width: 42%;

}
.progress-bar{
    background: #7eb546 !important;
}
.card-cntr {
    border:1px solid lightgrey;box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
}
.table {
    margin-bottom: 0 !important;
}
.table>tbody>tr>td {
    padding: 4px !important;
    border: none;
}
.card-title {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}
.card-sub-title {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
}

.panel-heading {
    background-color: #53c0de !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}