<nav class="navbar navbar-default" style="height: 70px;margin-bottom: 0 !important;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../../../assets/images/talint-logo.png" class="img-responsive" /></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav">
              <li routerLinkActive="active" (click)="openjoblist()"><img src="../../../assets/images/jobsicon.png" class="img-responsive"/> Jobs</li>
              <li routerLinkActive="active" (click)="openCandidatelist()"><img src="../../../assets/images/candidates.png" class="img-responsive" /> Candidates</li>
              <li><img src="../../../assets/images/reports.png" class="img-responsive"/>Reports</li>
            </ul>
            <ul class="nav navbar-nav navbar-right main-nav2">
              <li><a href="#"><input type="text" class="form-control search-cntr" placeholder="Search"></a></li>
              <li><a href="#"><img src="../../../assets/images/notification.png" class="img-responsive"/></a></li>
              <li><a href="#"><img src="../../../assets/images/settings.png" class="img-responsive"/></a></li>
              <li class="dropdown">
                    <a>{{username}}</a>
                    <img href="#" src="../../../assets/images/mask.png" class="img-responsive dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"/>
                    <img src="../../../assets/images/caret.png" class="img-responsive caret1">
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
            </ul>
          </div>
        </div>
      </nav>