.main-nav {
    margin-top: 15px;
    margin-left: 50px;
}
.main-nav li{
    display: inline-flex;
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    align-items: center;
    margin-right: 27px;
    padding-bottom: 15px;
    cursor: pointer;
}
.main-nav li:hover {
    border-bottom: 5px solid #53c0de;
}
.main-nav img {
    padding-right: 10px;
}
.navbar-default {
    background-color: #ffffff;
}
.navbar-brand img{
    padding: 5px;
}
.caret {
    margin-top: 28px !important;
}
.main-nav2 li {
    display: inline-flex;
}
.main-nav2 a {
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    align-items: center;
}
.search-cntr {
    background: url('../../../assets/images/search-icon.png') right no-repeat;
}
.caret1 {
    margin-top: 15px;
    height: 20px;
    width: 20px;
}