<div class="container body-content">
  <div class="panel panel-info padding-none">
    <div class="panel-heading">
      <img src="../../../assets/images/logo.png" class="img-resposive" />
    </div>
    <div class="panel-body s-only">
      <form>
        <div class="panel-body">
          <div>
            <h2 style="padding-bottom: 15px;">Enter your credentials to sign in</h2>
          </div>
          <div class="form-group">
            <input name="email" type="text" class="form-control input-field" placeholder="E-mail ID or username"
              [(ngModel)]="oLogin.email_id">
          </div>

          <div class="form-group">
            <input name="password" type="password" class="form-control input-field" placeholder="Password" [(ngModel)]="oLogin.password"
              required>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button type="submit" class="btn btn-cst" (click)="fnLogin()">
            Sign in
            <span class="ico-loader" *ngIf="isLoading">
              <img class="" src="/assets/images/loading.gif">
            </span>
          </button>
        </div>
        <div class="row" style="padding-top: 15px;padding-bottom: 15px;">
          <div class="col-md-12 col-lg-12 col-sm-12 text-center">
              <span class="forget-txt">Forgot password?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 text-center">
              <span class="forget-txt">Not a member?</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>