
.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius:0px;
}
.s-only{
    padding-top:30px
}
.btn-cst {
    color: white;
    border-radius: 24px;
    width: 90%;
    height: 45px;
    background-image: linear-gradient(to bottom, #52c0dd, #575292);
    border: none;
    cursor: pointer;
}
.panel-footer {
    padding: 0px 0px;
    background-color: transparent;
    border-top:none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel-body {
    padding-bottom: 0px;
}
.registration-text {
    padding-top:15px;
    font-size:85%
}
.register-click {
    float:right;
    font-size: 80%;
    position: relative;
    top:-16px
}
.panel-title {
    text-align: center;
    background: #3bc3e2;
    height: 41px;
    color: white;
    font-size: 21px;
    padding-top: 1px;
}
.panel-info {
    border: none;
    box-shadow: none;
}
.panel-info .panel-heading {
    background: #ffffff;
    border: none;
}
.input-field {
    border-radius: 24px;
}
.form-control {
    height: 44px !important;
}
.panel-heading img {
    margin: 0 auto;
    display: block;
}
.forget-txt {
    cursor: pointer;
    font-weight: 600;
    color: #3bc3e2;
    font-size: 16px;
}
.panel-body h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
}
