<div class="container-fluid hero">
  <div class="row first-title">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <span>Jobs list</span>
    </div>
  </div>

  <section class="joblist-title">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <h3>Joblist </h3>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="search-field">
          <input type="text" class="form-control secrh-cntr" placeholder="Search by Job title">
          <button type="button" class="btn addbtn" (click)="w3_open()">Add JD</button>
        </div>
      </div>
    </div>
  </section>
  <section class="joblist-table">
    <div class="container" style="padding-top: 13px;padding-right: 0px !important;padding-left: 0px !important;">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Job Title</th>
                    <th>Business unit</th>
                    <th>Job Description</th>
                    <th>Resumes</th>
                    <th>Created on</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let job of jobDetails" (click)="getCandidateList(job)">
                    <td>{{job["job_title"]}}</td>
                    <td>{{job["job_unit_name"]}}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-2">
                          <img src="../../../../assets/images/microsoft-icon.png" class="img-responsive">
                        </div>
                        <div class="col-md-10">
                          <span>{{job["description"]}}</span>
                        </div>
                      </div>
                    </td>
                    <td>{{job["file"]}}</td>
                    <td>{{job["create_on"]}}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-3">
                          <img src="../../../../assets/images/secrh-ico.png" class="img-responsive" data-toggle="tooltip" title="Search">
                        </div>
                        <div class="col-md-3">
                          <img src="../../../../assets/images/eye.png" class="img-responsive" data-toggle="tooltip" title="Look!">
                        </div>
                        <div class="col-md-3">
                          <img src="../../../../assets/images/edit.png" class="img-responsive" data-toggle="tooltip" title="Edit">
                        </div>
                        <div class="col-md-3">
                          <img src="../../../../assets/images/delete.png" class="img-responsive" data-toggle="tooltip" title="Delete">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>

  </section>
</div>

<div class="backdrop " [ngStyle]="{'display':display}"></div>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style=" width: 30%;right:0;top: 70px;z-index: 1;overflow-y: hidden;
transition: 0.5s;"
  [ngStyle]="{'display':display}" *ngIf="showProfile">
  <div class="container-fluid">
    <div class="row right-sidebar">
      <div class="col-md-10 col-lg-10 col-sm-10">
        <span>Add JD & Find Candidates</span>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" (click)="w3_close()" />
      </div>
    </div>
    <div class="row inputfiled">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Enter job title" [(ngModel)]="job.job_title">
      </div>
    </div>
    <div class="row inputfiled">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Enter requesting business unit name" [(ngModel)]="job.job_unit_name">
      </div>
    </div>
    <div class="row upload-zone">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <div class="col-md-12" style="padding: 18px 24px 11px 22px;">
          <span>Drag and drop the files here</span>
        </div>
        <div class="col-0 span">
          <span>(or)</span>
        </div>
        <div class="col-md-12" style="padding: 18px 24px 11px 22px;">
          <input type="file" id="file" (change)="handleFileInput($event.target.files)">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showFilesUploaded">
      <div class="col-md-2 microsoft-icon">
        <img src="../../../../assets/images/microsoft-icon.png" class="img-responsive">
      </div>
      <div class="col-md-8">
        <small>{{filedata.name}}</small>
        <div class="progress">
          <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          </span>
        </div>
        <small>{{filedata.size}}</small>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" />
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-2">
        <img src="../../../../assets/images/file.png">
      </div>
      <div class="col-md-8">
        <small>bigdata engineer docs</small>
        <div class="progress">
          <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          </span>
        </div>
        <small>38kb</small>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/close.png" class="img-responsive" />
      </div>
    </div> -->
    <div class="row footer">
      <div class="col-md-12 col-lg-12 col-sm-12 text-left">
        <button type="button" class="btn save-btn" (click)="joblist()">Save & Find Candidates</button>
        <button type="button" class="btn cancel-btn" (click)="w3_close()">Cancel</button>
      </div>
    </div>
  </div>

</div>
